 <div class="container-fluid main-canvas-end">
            <div class="container-fluid bottombar" id="footer">Copyright © 2017 Colégio Anglo de Campinas. Todos os direitos reservados.<br>Rua Benjamin Constant, Nº 1287, Setor Campinas - Goiânia-Go<br>Fone: (62) 3291-1806 CNPJ:26895367.0001/04 E-mail: col.anglodecampinas@gmail.com
           <br>
           <center>Desenvolvido por <a href="http://voastudio.tech/" style="color:white" target="_blank">Voa Studio Tech</a></center>
            </div>
          
            
         </div>
         
         <style type="text/css"> 
a:link 
{ 
text-decoration:none; 
} 
</style>