<div class="col-sm-6"> <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBOd_9RgyeENqXLhh3awsdcpGe5JZKupUY&q=Colégio%20Anglo%20Campinas" allowfullscreen></iframe></div>
