<div class="container-fluid main-canvas">
   <div class="jumbo bg-black">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
              <div class="item active">
                <a href=<%=@slider.link%>>
                <%=image_tag @slider.photo.url%>
                </a>
             </div>
              <% @sliders.each do |slider| %>
               <%if slider.id!=@slider.id%>
               <div class="item">
                
                    <a href=<%=slider.link%>>
                   <div class="item "><%=(image_tag slider.photo.url)%> </div>
                   </a>
             
                </div>
                   <%end%>  
            <% end %>
       
         </div>
         <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background: transparent !important"> <i class="zmdi zmdi-chevron-left zmdi-hc-4x" style="margin-top:50%;" ></i> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#myCarousel" data-slide="next" style="background: transparent !important"> <i class="zmdi zmdi-chevron-right zmdi-hc-4x" style="margin-top:50%;"></i> <span class="sr-only">Next</span> </a> 
      </div>
   </div>
</div>

