 <div class="container" style="margin-top:60px;margin-bottom:60px;">
            <div class="row headings">
               <div class="col-sm-6" style="min-height:450px;vertical-align:bottom;display: table-cell;">
                  <div style="position:relative;bottom:0px;">
                      <a href="https://www.facebook.com/anglodecampinasGO/"  target="_blank" style="background: transparent !important;">  <img src="https://anglo1.000webhostapp.com/public_html/../_public/_front/main/img/media_fb.png" style="max-height:80px;"/></a>
                    
                      <a href="https://www.instagram.com/ferasanglo/"  target="_blank" style="background: transparent !important;"><img src="https://anglo1.000webhostapp.com/public_html/../_public/_front/main/img/media_insta.png" style="max-height:80px;"/></a>
                  </div>
               </div>
             <%=render"partials/site/home_maps"%>
            </div>
         </div>