

<div class="row" style="margin: 0px;">
   <div class="col-sm-12 teambadge text-center">
      <div class="badgearea text-center" id="matricula_labal">
         <p class="badgeparagraph">Contato</p>
      </div>
   </div>
</div>
<style>input {border-radius: 8px;padding:5px;margin:10px;color: #444; font-size: 20px; font-weight: 600;border: 1px solid #aaa;}</style>
<div class="container">
   <div class="row hidden-xs">
      <div class="col-sm-12">
         <h2> Entre em contato</h2>
         <div class="form-group">
             <%= render 'form' %>
           
         </div>
      </div>
      
   </div>
</div>
