<div class="row" style="margin: 0px;">
            <div class="col-sm-12 teambadge text-center">
               <div class="badgearea text-center" id="galeria_labal">
                  <p class="badgeparagraph">Galerias</p>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row" style="margin-bottom:40px;">
                
                  
          <% @galeries.each do |galery| %>

       
       
  
               <div class="col-lg-3" style="margin-bottom:40px;">
                  <div class="projitem">
                          
                        <div class="projitem-pic"> <%= link_to (image_tag galery.photo.url,class:"img-responsive"), site_galeria_show_path(:galeria_id =>galery.id), :method => :post %></div>
                        <div class="projitem-capt" style=" line-height: 1.0;"><%= galery.titulo %> </div>
                     
                  </div>
               </div>

                 <% end %>
               
               
               
               
            </div>
         </div>
      <center> <%= will_paginate @galeries,:next_label => "Proximo",:previous_label =>"Anterior" %></center>