 <div class="row" style="margin: 0px;">
            <div class="col-sm-12 teambadge text-center">
               <div class="badgearea text-center" id="noticia_labal">
                  <p class="badgeparagraph">Notícia</p>
               </div>
            </div>
         </div>
         <div class="container-fluid main-canvas">
            <div class="jumbo">
                <%=image_tag @noticia.photo.url,style:"max-width:80%;"%>
                 
              </div>
         </div>
         <div class="row big-description" style="margin-top:50px;">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 text-center">
               <h2><%@noticia.titulo%></h2>
            </div>
         </div>
         <div class="row big-description" style="margin-top:50px;">
            <div class="col-sm-1"></div>
            <div class="col-sm-10"><%=@noticia.texto%></div>
         </div>
         <div class="row big-description">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <%=link_to "<< VOLTAR",site_noticias_path,class:"btn btn-default",style:""%>
               
         </div>


<%=render"partials/site/home_social"%>