



 <div class="row" style="margin: 0px;">
            <div class="col-sm-12 teambadge text-center">
               <div class="badgearea text-center" id="matricula_labal">
                  <p class="badgeparagraph">Pré-matrícula</p>
               </div>
            </div>
         </div>
         <style>input {border-radius: 8px;padding:5px;margin:10px;color: #444; font-size: 20px; font-weight: 600;border: 1px solid #aaa;}</style>
         <div class="container">
            <div class="row hidden-xs">
               <form action="/site/pre_matricula_post" method="post">
               <div class="col-sm-12">
                  <h2> Dados do estudante</h2>
                 
                  <input type="text" placeholder="Série" style="width:31%;"  name="serie">
                  <input type="text" placeholder="Turno" style="width:31%;" name="turno">
                  <input type="text" placeholder="Ano" style="width:30%;"name="ano">
               </div>
               <div class="col-sm-12"><input type="text" placeholder="Nome Completo" style="width:96%;"name="nome_aluno"> </div>
               <div class="col-sm-12"><input type="text" placeholder="Naturalidade" style="width:47%;"name="naturalidade_aluno">
               <input type="text" placeholder="Nacionalidade" style="width:47%;"name="nacionalidade_aluno">
               </div>
               <div class="col-sm-12"><input type="text" placeholder="Data de Nascimento" style="width:47%;"name="data_nascimento_aluno">
               <input type="text" placeholder="Sexo" style="width:47%;"name="sexo_aluno">
               </div>
               <div class="col-sm-12"><input type="text" placeholder="RG/CPF" style="width:96%;"name="cpf_aluno">
               </div>
               <div class="col-sm-12"><input type="text" placeholder="Endereço" style="width:47%;"name="endereco_aluno">
               <input type="text" placeholder="Complemento" style="width:47%;"name="complemento_aluno">
               </div>
               <div class="col-sm-12"><input type="text" placeholder="Bairro" style="width:31%;"name="bairro_aluno">
               <input type="text" placeholder="Cidade" style="width:31%;"name="cidade_aluno">
               <input type="text" placeholder="CEP" style="width:30%;"name="cep_aluno">
               </div>
               <div class="col-sm-12">
               <input type="text" placeholder="Telefone" style="width:47%;"name="telefone_aluno">
               <input type="text" placeholder="Celular" style="width:47%;"name="celular_aluno">
               </div>
               <div class="col-sm-12">
                  <h2> Dados do pai</h2>
                  <input name="nomepai" type="text" placeholder="Nome Completo" style="width:96%;"> 
               </div>
               <div class="col-sm-12"><input name="rgpai" type="text" placeholder="RG" style="width:47%;"><input name="cpfpai" type="text" placeholder="CPF" style="width:47%;"></div>
               <div class="col-sm-12"><input name="endepai" type="text" placeholder="Endereço" style="width:47%;"><input name="compendepai" type="text" placeholder="Complemento" style="width:47%;"></div>
               <div class="col-sm-12"><input name="bairropai" type="text" placeholder="Bairro" style="width:31%;"><input name="cidadepai" type="text" placeholder="Cidade" style="width:31%;"><input name="ceppai" type="text" placeholder="CEP" style="width:30%;"></div>
               <div class="col-sm-12"><input name="terespai" type="text" placeholder="Telefone Residencial" style="width:47%;"><input name="tecompai" type="text" placeholder="Telefone Comercial" style="width:47%;"></div>
               <div class="col-sm-12"><input name="wppai" type="text" placeholder="Whatsapp" style="width:31%;"><input name="fbpai" type="text" placeholder="Facebook" style="width:31%;"><input name="instapai" type="text" placeholder="Instagram" style="width:30%;"></div>
               <div class="col-sm-12">
                  <h2> Dados da mãe</h2>
                  <input name="nomemae" type="text" placeholder="Nome Completo" style="width:96%;"> 
               </div>
               <div class="col-sm-12"><input name="rgmae" type="text" placeholder="RG" style="width:47%;"><input name="cpfmae" type="text" placeholder="CPF" style="width:47%;"></div>
               <div class="col-sm-12"><input name="endemae" type="text" placeholder="Endereço" style="width:47%;"><input name="compendemae" type="text" placeholder="Complemento" style="width:47%;"></div>
               <div class="col-sm-12"><input name="bairromae" type="text" placeholder="Bairro" style="width:31%;"><input name="cidademae" type="text" placeholder="Cidade" style="width:31%;"><input name="cepmae" type="text" placeholder="CEP" style="width:30%;"></div>
               <div class="col-sm-12"><input name="teresmae" type="text" placeholder="Telefone Residencial" style="width:47%;"><input name="tecommae" type="text" placeholder="Telefone Comercial" style="width:47%;"></div>
               <div class="col-sm-12"><input name="wpmae" type="text" placeholder="Whatsapp" style="width:31%;"><input name="fbmae" type="text" placeholder="Facebook" style="width:31%;"><input name="instamae" type="text" placeholder="Instagram" style="width:30%;"></div>
              
            </div>
            <div class="row hidden-sm hidden-lg hidden-md">
               <div class="col-sm-12">
               <input type="text" placeholder="Série" style="width:90%;"name="serie_mobile">
               <input type="text" placeholder="Turno" style="width:90%;"name="turno_mobile">
               <input type="text" placeholder="Ano" style="width:90%;"name="ano_mobile">
               </div>
               <div class="col-sm-12"><input type="text" placeholder="Nome Completo" style="width:90%;"name="nome_aluno_mobile"> </div>
               <div class="col-sm-12"><input type="text" placeholder="Naturalidade" style="width:90%;"name="naturalidade_aluno_mobile">
               <input type="text" placeholder="Nacionalidade" style="width:90%;"name="nacionalidade_aluno_mobile"></div>
               <div class="col-sm-12"><input type="text" placeholder="Data de Nascimento" style="width:90%;"name="data_nascimento_aluno_mobile">
               <input type="text" placeholder="Sexo" style="width:90%;"name="sexo_aluno_mobile"></div>
               <div class="col-sm-12"><input type="text" placeholder="RG/CPF" style="width:90%;" name="cpf_aluno_mobile"></div>
               <div class="col-sm-12"><input type="text" placeholder="Endereço" style="width:90%;"name="endereco_aluno_mobile">
               <input type="text" placeholder="Complemento" style="width:90%;"name="complemento_aluno_mobile">
             
               </div>
               <div class="col-sm-12"><input type="text" placeholder="Bairro" style="width:90%;"name="bairro_aluno_mobile">
               <input type="text" placeholder="Cidade" style="width:90%;"name="cidade_aluno_mobile">
               <input type="text" placeholder="CEP" style="width:90%;"name="cep_aluno_mobile">
               </div>
               <div class="col-sm-12"><input type="text" placeholder="Telefone" style="width:90%;"name="telefone_aluno_mobile">
               <input type="text" placeholder="Celular" style="width:90%;"name="celular_aluno_mobile">
               </div>
             
            </div>
         </div>
         
         
         
       
          <center>
          <input type="submit" value="enviar">
           </center>
         </form>