// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logobar_um{
    background-image: asset-data-url("img/logobar.png")
}
#logobar_dois {
   background-image: asset-data-url("img/logobar.png")
}
#logobar_tres {
  background-image: asset-data-url("img/logobar.png")
}
#body{
     background-image: asset-data-url("img/bg.jpg")
   
}
#footer{
     background-image: asset-data-url("img/bottombar.jpg")
   
}
#equipe_labal{
     background-image: asset-data-url("img/badge_bg.png")
   
}
#estrutura_labal{
     background-image: asset-data-url("img/badge_bg.png")
   
}
#estrutura_foto_base{
     background-image: asset-data-url("img/bger.png")
   
}
#calendario_labal{
     background-image: asset-data-url("img/badge_bg.png")
   
}
#egressos_labal{
     background-image: asset-data-url("img/badge_bg.png")
   
}
#projetos_labal{
     background-image: asset-data-url("img/badge_bg.png")
   
}
#matricula_labal{
     background-image: asset-data-url("img/badge_bg.png")
   
}
#noticia_labal{
     background-image: asset-data-url("img/badge_bg.png")
   
}
#galeria_labal{
     background-image: asset-data-url("img/badge_bg.png")
   
}
#prova_labal{
     background-image: asset-data-url("img/badge_bg.png")
   
}
#professor_labal{
     background-image: asset-data-url("img/teacherring.png")
   
}
a{
     background-color: transparent;
   
}
